{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">¿Quiénes somos?</h2>
            <hr class="star-dark mb-5">
            <div class="row">

                <div class="col-lg-4 ml-auto">
                    <p class="lead"> {{ user_data.info.0 }}</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead"> {{ user_data.info.1 }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Contacto</h2>
            <hr class="star-light mb-5">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class='lead'> Si desea ponerse en contacto con nosotros por email, rellene el formulario
                        indicando el motivo de su consulta.</p>
                    {% if user_data.telefono %}
                        <p class='lead'>También puede contactar por telefono en horario comercial: <a class="telefono"
                                                                                                      href="tel:{{ user_data.telefono }}"><i
                                class="fas fa-phone"></i>{{ user_data.telefono }}</a></p>
                    {% endif %}
                </div>
            </div>
        {%  if user_data.email %}
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form enctype="multipart/form-data" id="contactForm" method="post" novalidate>

                        {% csrf_token %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>{{ consulta.nombre.label_tag }}</label>

                                {{ consulta.nombre }}
                                {{ consulta.nombre.errors }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>{{ consulta.email.label_tag }} </label>
                                {{ consulta.email }}
                                {{ consulta.email.error }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>{{ consulta.mensaje.label_tag }}</label>
                                {{ consulta.mensaje }}
                                {{ consulta.mensaje.errors }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>

                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                            <button type="submit" class="btn btn-xl btn-outline-light">Enviar</button>

                        </div>
                    </form>



                </div>
                <div class="col-lg-8 mx-auto">
                    <p>De acuerdo con lo establecido en la Ley Orgánica 15/1999
                        de Protección de Datos de Carácter Personal, le informamos
                        de que sus datos personales serán tratados con la finalidad
                        de gestionar los servicios prestados a través de la web y darle
                        contestación, en su caso, a su solicitud. Para el ejercicio de
                        sus derechos de acceso, rectificación, cancelación y oposición
                        deberá dirigirse a: <a href="mailto: {{ user_data.email }}">{{ user_data.email }}</a></p>
                </div>
                         {%  else %}
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p> El formulario de consulta no esta disponible aún, perdón por las molestias.</p>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="location">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center text-uppercase text-secondary mb-0">Localización</h2>
            <hr class="star-dark mb-5">
            <div class="col-lg-8 mx-auto text-center" style="font-size:2rem">
                <p>{{ user_data.direccion.0|default:"CALLE FALSA 33" }}, {{ user_data.direccion.1|default:"PUCELA" }}</p>
            </div>
            <!--The div element for the map -->
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb={{ user_data.localizacion }}"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
{% endblock %}
